.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 0.5em;
}
table,
th,
td {
  border: 1px solid #422802;
}
table a,
th a,
td a {
  color: #fff;
  text-decoration: none;
}
table {
  width: 85%;
  margin: 0.5em;
}
th,
td {
  padding: 0.5em;
  text-align: center;
  font-size: 1.2em;
}
button {
  background-color: #09343f;
}
.modalContent {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6e8b61;
  background-image: url('https://developer-notes.beedev-services.com/notesApp/static/images/lined-paper-2.png');
  color: #fff;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header img {
  max-width: 90px;
}
body header nav a {
  font-size: 1.1em;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 85%;
}
body main .row form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  align-items: flex-start;
  padding: 2em;
  background-color: #95bd8359;
  border-radius: 20%;
}
body main .row form section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em;
  width: 300px;
}
body main .row form section label {
  align-items: flex-start;
  margin: 0.5em;
}
body main .row form button {
  background-color: #09343f;
  color: #fff;
}
body main .messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff000048;
  padding: 2em;
  border-radius: 20%;
}
body main .tabMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #95bd8359;
  padding: 1em;
  width: 85%;
  font-size: 1.2em;
}
body main .tabMenu .tabs {
  overflow: hidden;
  padding: 1em;
}
body main .tabMenu .tabs:hover {
  background-color: #96651b91;
}
body main .tabMenu .tabs.active {
  border: 3px groove #422802;
}
body main .tabContent {
  display: none;
  width: 85%;
}
body main .tabContent .innerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main .tabContent .innerContent .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main .adminColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #95bd8359;
  padding: 0 1em 2em;
  width: 85%;
}
body main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  align-items: flex-start;
  padding: 3em;
  background-color: #95bd8359;
  border-radius: 20%;
}
body main form section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em;
  width: 85%;
}
body main form section label {
  align-items: flex-start;
  margin: 0.5em;
}
body main form section .code {
  background-color: #000;
  color: #dda337;
}
body main form button {
  align-self: center;
  background-color: #09343f;
  color: #fff;
}
body main .code {
  background-color: #000;
  color: #dda337;
  margin: 1em;
}
body main button {
  align-self: center;
  background-color: #09343f;
  color: #fff;
}
body main .note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dda3374b;
  padding: 2em;
  min-width: 350px;
}
body main .note #img {
  max-width: 350px;
  margin: 1em;
}
body main .note #img:hover {
  opacity: 0.7;
}
body main .note .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: #000000e6;
}
body main .note .modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
body main .note .modal .close:hover,
body main .note .modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
body main .note .modal .modalContent {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 700px;
}
body main .center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dda3374b;
  padding: 2em;
  min-width: 350px;
}
body main .center p {
  margin: 0 1em;
}
body main .center img {
  max-width: 90px;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
