@bg: #211400;
@font: #fff;

.flexrow {
    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    .flexcolumn();
    background-color: @bg;
    background-image: url('/static/images/lined-paper-2.png');

    header {
        .flexcolumn();
    }
    main {
        .flexcolumn();
    }
    footer {
        .flexcolumn();
    }
}