{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type='images/jpg' href="{% static 'images/bee.jpg' %}">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>{{user.firstName}}'s Dashboard</title>
</head>
<body>
    <header>
        <h1>Welcome to your dashboard {{user.firstName}}</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}{% block loggedMenu %} {% include 'loggedMenu.html' %} {% endblock loggedMenu %}
        </nav>
    </header>
    <main>
        <div>
            {% if messages %}
            <section class='messages'>
                {% for message in messages %}
                <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
                {% endfor %}
            </section>
            {% endif %}
        </div>
        {% block tabMenu %} {% include 'tabMenu.html' %} {% endblock tabMenu %}
        <div id='All' class='tabContent'>
            <div class="innerContent">
                <h1>All Public Notes</h1>
                <div class="content">
                    <table>
                        <tr>
                            <th>Likes</th>
                            <th>Note Subject</th>
                            <th>Note Stack</th>
                            <th>Actions</th>
                        </tr>
                        {% for n in notes %}
                            {% if n.private == 0 %}
                                <tr>
                                    <td>{{n.upvote}}</td>
                                    <td>{{n.subject}}</td>
                                    {% for s in stacks %}
                                        {% if n.stack_id == s.id %}
                                        <td>{{s.stackName}}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>
                                        <a href="/note/{{n.id}}/like/">Like</a> | 
                                        <a href="/note/{{n.id}}/view/">View</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div id='Web' class='tabContent'>
            <div class="innerContent">
                <h1>Web Fundamentals Public Notes</h1>
                <div class="content">
                    <table>
                        <tr>
                            <th>Likes</th>
                            <th>Note Subject</th>
                            <th>Content</th>
                            <th>Actions</th>
                        </tr>
                        {% for n in notes %}
                        {% if n.private == 0 %}
                            {% if n.stack_id == 1 %}
                                <tr>
                                    <td>{{n.upvote}}</td>
                                    <td>{{n.subject}}</td>
                                    <td>{{n.content}}</td>
                                    <td>
                                        <a href="/note/{{n.id}}/like/">Like</a> | 
                                        <a href="/note/{{n.id}}/view/">View</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div id='Python' class='tabContent'>
            <div class="innerContent">
                <h1>Python Public Notes</h1>
                <div class="content">
                    <table>
                        <tr>
                            <th>Likes</th>
                            <th>Note Subject</th>
                            <th>Content</th>
                            <th>Actions</th>
                        </tr>
                        {% for n in notes %}
                        {% if n.private == 0 %}
                            {% if n.stack_id == 2 %}
                                <tr>
                                    <td>{{n.upvote}}</td>
                                    <td>{{n.subject}}</td>
                                    <td>{{n.content}}</td>
                                    <td>
                                        <a href="/note/{{n.id}}/like/">Like</a> | 
                                        <a href="/note/{{n.id}}/view/">View</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div id='Mern' class='tabContent'>
            <div class="innerContent">
                <h1>MERN Public Notes</h1>
                <div class="content">
                    <table>
                        <tr>
                            <th>Likes</th>
                            <th>Note Subject</th>
                            <th>Content</th>
                            <th>Actions</th>
                        </tr>
                        {% for n in notes %}
                        {% if n.private == 0 %}
                            {% if n.stack_id == 3 %}
                                <tr>
                                    <td>{{n.upvote}}</td>
                                    <td>{{n.subject}}</td>
                                    <td>{{n.content}}</td>
                                    <td>
                                        <a href="/note/{{n.id}}/like/">Like</a> | 
                                        <a href="/note/{{n.id}}/view/">View</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div id='Java' class='tabContent'>
            <div class="innerContent">
                <h1>Java Public Notes</h1>
                <div class="content">
                    <table>
                        <tr>
                            <th>Likes</th>
                            <th>Note Subject</th>
                            <th>Content</th>
                            <th>Actions</th>
                        </tr>
                        {% for n in notes %}
                        {% if n.private == 0 %}
                            {% if n.stack_id == 4 %}
                                <tr>
                                    <td>{{n.upvote}}</td>
                                    <td>{{n.subject}}</td>
                                    <td>{{n.content}}</td>
                                    <td>
                                        <a href="/note/{{n.id}}/like/">Like</a> | 
                                        <a href="/note/{{n.id}}/view/">View</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div id='Projects' class='tabContent'>
            <div class="innerContent">
                <h1>Projects and Algos Public Notes</h1>
                <div class="content">
                    <table>
                        <tr>
                            <th>Likes</th>
                            <th>Note Subject</th>
                            <th>Content</th>
                            <th>Actions</th>
                        </tr>
                        {% for n in notes %}
                        {% if n.private == 0 %}
                            {% if n.stack_id == 5 %}
                                <tr>
                                    <td>{{n.upvote}}</td>
                                    <td>{{n.subject}}</td>
                                    <td>{{n.content}}</td>
                                    <td>
                                        <a href="/note/{{n.id}}/like/">Like</a> | 
                                        <a href="/note/{{n.id}}/view/">View</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div id='Other' class='tabContent'>
            <div class="innerContent">
                <h1>Misc Developer Public Notes</h1>
                <div class="content">
                    <table>
                        <tr>
                            <th>Likes</th>
                            <th>Note Subject</th>
                            <th>Content</th>
                            <th>Actions</th>
                        </tr>
                        {% for n in notes %}
                        {% if n.private == 0 %}
                            {% if n.stack_id == 6 %}
                                <tr>
                                    <td>{{n.upvote}}</td>
                                    <td>{{n.subject}}</td>
                                    <td>{{n.content}}</td>
                                    <td>
                                        <a href="/note/{{n.id}}/like/">Like</a> | 
                                        <a href="/note/{{n.id}}/view/">View</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div id='Your' class='tabContent'>
            <div class="innerContent">
                <h1>{{user.firstName}} Public and Private Notes</h1>
                <div class="content">
                    <table>
                        <tr>
                            <th>Likes</th>
                            <th>Private</th>
                            <th>Stack</th>
                            <th>Note Subject</th>
                            <th>Content</th>
                            <th>Actions</th>
                        </tr>
                        {% for n in notes %}
                        {% if n.author_id == user.id %}
                                <tr>
                                    <td>{{n.upvote}}</td>
                                    {% if n.private == 0 %}
                                        <td>No</td>
                                    {% endif %}
                                    {% if n.private == 1 %}
                                        <td>Yes</td>
                                    {% endif %}
                                    {% for s in stacks %}
                                        {% if n.stack_id == s.id %}
                                        <td>{{s.stackName}}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>{{n.subject}}</td>
                                    <td>{{n.content}}</td>
                                    {% if n.private == 0 %}
                                        <td>
                                            <a href="/note/{{n.id}}/like/">Like</a> | 
                                            <a href="/note/{{n.id}}/view/">View</a>
                                        </td>
                                    {% endif %}
                                    {% if n.private == 1 %}
                                    <td>
                                        <a href="/note/{{n.id}}/view/">View</a>
                                    </td>
                                    {% endif %}
                                </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </footer>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='{% static "js/scripts.js"%}'></script>
</body>
</html>