<!DOCTYPE html>
<html lang="en">
<body>
    {% block tabMenu %}
        <nav class='tabMenu'>
            <a href="#tabs01" class='tabs' onclick="openStack(event, 'All')">All</a>
            <a href="#tabs02" class='tabs' onclick="openStack(event, 'Web')">Web Fundamentals</a>
            <a href="#tabs03" class='tabs' onclick="openStack(event, 'Python')">Python</a>
            <a href="#tabs04" class='tabs' onclick="openStack(event, 'Mern')">MERN</a>
            <a href="#tabs05" class='tabs' onclick="openStack(event, 'Java')">Java</a>
            <a href="#tabs06" class='tabs' onclick="openStack(event, 'Projects')">Projects & Algos</a>
            <a href="#tabs07" class='tabs' onclick="openStack(event, 'Other')">Other</a>
            {% if user.id %}
                <a href="#tabs08" class='tabs' onclick="openStack(event, 'Your')">Your Notes</a>
            {% endif %}
        </nav>
    {% endblock tabMenu %}
</body>
</html>