{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type='imags/jpg' href="{% static 'images/bee.jpg' %}">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Admin Dashboard</title>
</head>
<body>
    <header>
        <h1>{{user.firstName}}'s Admin Dashboard</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}{% block loggedMenu %} {% include 'loggedMenu.html' %} {% endblock loggedMenu %}
        </nav>
    </header>
    <main>
        <h2>Comment on Notes</h2>
        <table>
            <tr>
                <th>Note</th>
                <th>Author</th>
                <th>Stack</th>
                <th>Note Likes</th>
                <th>View Comments</th>
                <th>Actions</th>
            </tr>
            {% for note in notes %}
            {% if note.private == 0 %}
                <tr>
                    <td>{{note.subject}}</td>
                    {% for user in users %}
                        {% if note.author_id == user.id %}
                            <td>{{user.username}}</td>
                        {% endif %}
                    {% endfor %}
                    {% for stack in stacks %}
                        {% if note.stack_id == stack.id %}
                            <td>{{stack.stackName}}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{note.upvote}}</td>
                    <td><a href="/theAdmin/comment/{{note.id}}/view/">View Comments</a></td>
                    <td><a href="/theAdmin/comment/{{note.id}}/add/">Add Comment</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </main>
    <footer>
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </footer>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='{% static "js/scripts.js"%}'></script>
</body>
</html>